@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
 @tailwind base;
 @tailwind components;
 @tailwind utilities;


 @layer base{
  .router-link-exact-active{
    @apply  bg-gray-200 text-gray-800  transition duration-400 ease-in-out
  }
  body{
   font-family: 'Montserrat', sans-serif;
   overflow-x:hidden;
   /*text-align: center;*/
  }
  .html{
   font-family: 'Montserrat', sans-serif;
  }
  .login,
  .image {
   min-height: 100vh;
  }

  .bg-image {
   background-image: url('https://hrm.btpholdings.vn/img/bg-BTP.35acb40d.jpg');
   background-size: cover;
   background-position: center center;
  }

 }
