@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
 @tailwind base;
 @tailwind components;
 @tailwind utilities;


 @layer base{
  .router-link-exact-active{
    @apply  bg-gray-200 text-gray-800  transition duration-400 ease-in-out
  }
  body{
   font-family: 'Montserrat', sans-serif;
   overflow-x:hidden;
  }
  .html{
   font-family: 'Montserrat', sans-serif;
  }

 }
